@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
 --primary-color: #396E94;
 --secondary-color:#E7C24F;
 --accent1-color: #c9bfc4;
 --accent2-color: #a43312;

 --heading-font: "PT Serif", serif;
 --paragraph-font: "Roboto", sans-serif;
 --nav-background-color: #AABD8C;
  --nav-link-color: #396E94;
  --nav-hover-link-color: #37698d; 
 --nav-hover-background-color: #ffd000;
}
*{
 margin-left:5px ;
 padding: 0 ;
 box-sizing: border-box;
}
.hero img { 
float: right; 
margin-left: 3rem;
position:absolute; 
}
 
.grid{
position: relative;
top: 4rem;
left: 2rem;
} 
.grid h1{
width: 900px;
position: relative;
margin: 1rem;
color: rgba(255, 255, 255, 0.952);
padding: 1rem; 
font-size: 20pt;
font-family: var(--heading-font);
text-align: center;
background-color: #03040586;
}
.grid img{
  width: 290px;
  right: 140px;
float: right;
  position: absolute;
margin-right: 430px;
margin-top: 3px;
}
.grid p{
  width: 870px; 
  margin-left: 2rem;
background:#10056daf;
text-align:left;
color: aliceblue;
padding: 90px;
}

body{
 font-family: var(--paragraph-font); 
 padding: 0px;
 clear: left;
 background-color: #dcdfe0;
}

 .tip img{
    width: 500px;
   padding: 1px;
 }

h2{
 color: #E7C24F;
 margin-block: 10px;
 
}

header{
 height: auto;
 background-color: #f09540;
 padding: 10px;
} 
.container{
 display: grid;
 grid-template-columns: 1fr auto 1fr;
grid-template-rows:1fr;
padding: auto;
align-items: center;

}
.logo img{
 width: 100px;
}
nav{
 display: flex;
text-align: right;

}
nav ul {
 list-style-type: none;
}
nav ul li {
 display: inline;
}
nav ul li a {
 color: rgb(33, 14, 206);
 text-decoration: none;
}
.add{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 10px;
}
.space{
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: end;
  margin-top: 5rem;
}
.add p{
  grid-column: 1/4;
  grid-row:3/3 ;

}


.photo img{
grid-row-start: 2;
grid-column: 1;
margin: 5px;
   width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}/*Styling the Adventures section of five images to span the section
  horizontal using a grid CSS layout method */
 /* Ussing figure elements to contain the img elements and use figcaption captions for each figure image */
  figure {
    display: grid;
    grid-template-columns: 500px  500px;
   grid-template-rows: repeat(3, 12.5rem);
   gap: 3rem;
  padding: 3px;
  max-width: 610px;

}

figcaption {

  background-color: #2a3e69;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center; 
}  
.end{
  display: grid;
  grid-template-columns: 1fr auto 20px;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 10px;
}
.end{
  margin: 3rem;
}
footer p{
  grid-column: 1/2;
  font-size: medium;
}
.sociallinks img{
grid-column: 2/3;
width: 2rem;
display: inline;
}