
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #396E94;
    --secondary-color:#E7C24F;
    --accent1-color: #c9bfc4;
    --accent2-color: #a43312;
  
    --heading-font: "PT Serif", serif;
    --paragraph-font: "Roboto", sans-serif;
  
    --nav-background-color: #AABD8C;
    --nav-link-color: #396E94;
    --nav-hover-link-color: #2B5370;
    --nav-hover-background-color: #716D5B;
  }
  body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }      
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  p {
    padding: 25px;
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }