@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Roboto&display=swap');
  
body{
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}
:root {
    --primary-color: #0f69cf;
    --secondary-color:#a33d92;
    --accent1-color: #b484d3e7;
    --accent2-color: #a43312;
  
    --heading-font:"IM Fell Double Pica SC", serif;
    --paragraph-font: "Roboto", sans-serif;
  
    --nav-background-color: #9abd8c;
    --nav-link-color: #0011ff;
    --nav-hover-link-color: #2B5370;
    --nav-hover-background-color: #fa0000;
  }
  body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: var(--secondary-color);
  }      
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  p {
    padding: 25px; 
    
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
